* {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

:host ::ng-deep span, :host ::ng-deep .ant-menu-item-group-title, :host ::ng-deep a, :host ::ng-deep [nz-menu-item] {
	font-size: 13px;
}

::ng-deep nz-sider {
	position: fixed!important;
	left: 0!important;
	top: 40px!important;
	z-index: 999!important;
}